body {
    background-image: url('../imgs/mbg14.jpg');
    background-color: #cccccc;
}
.card {
    margin-right: auto;
    margin-left: auto;
    width: auto;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    height: auto;
    border-radius: 5px;
    backdrop-filter: blur(14px);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
}

.card, card-body, h4 {
    color: white;
    text-shadow: 2px 2px black;
}