body {
    width: 100%;
    margin: auto;
    
}
.footerlinks {
    color:#ffff;
    text-decoration: none !important;
}

.footerlinks:hover {
    color: #ffd800;
}
#footer1{
    background:#762b00;
}
#footer2{
    background:#531f00;
}
img-fluid {
    max-width: 100%;
    height: auto;
}
.body, ul, a {
    text-shadow: 1px 1px white;
    color: black;
    background-color:transparent;
}

